.containerPrincipal {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.Titulo {
  margin: 20px 0 10px 0;
  color: #61a5c2;
}

.productosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.producto {
  width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.producto {
  margin: 20px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  margin-bottom: 20px;
}

.CenterImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 10px 10px 0 0;
  padding: 0;
}

.cuadro {
  background-color: #2c7da0;
  height: auto;
  border-radius: 0 0 10px 10px;
}

.Nombre {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 10px 10px 0 10px;
}

.Descripcion {
  margin: 10px;
  font-size: 15px;
  color: #fff;
  text-align: justify;
}

.contenedor {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Precio {
  margin: 10px 10px 10px 0;
  font-size: 60px;
  color: #fff;
}

.button {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
  font-weight: 600;
  color: #2c7da0;
}

.button:hover {
  background-color: #52cbff;
  color: #fff;
}

@media (max-width: 1600px) {
  .containerPrincipal {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .Titulo {
    padding: 20px 0px 20px 20px;
    font-size: clamp(10px, 5vw, 30px);
  }
  .producto {
    width: 250px;
  }
  .Nombre {
    font-size: clamp(10px, 5vw, 15px);
  }
  .Descripcion {
    font-size: clamp(10px, 5vw, 5px);
  }
  .Precio {
    font-size: clamp(10px, 5vw, 5px);
  }
  .button {
    padding: 10px 20px 10px 20px;
  }
  .cuadro {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .containerPrincipal {
    width: 90%;
    align-items: center;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
  }
  .productosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
