/* ProductosPage.module.css */
.productos-page {
    background-color: #f0f5ff; /* Azul pálido claro */
    padding: 20px;
  }
  
  /* ProductDetails.module.css */
  .product-details {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    text-align: center;
  }
  
  .product-details img {
    max-width: 100%;
  }
  
  /* Personaliza más estilos según tus preferencias */
  