.Principal {
  text-align: center;
  justify-content: center;
  height: 50vh;
  background-image: url("../../assets/portada01.jpg");
  background-color: #01497c;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  background-size: cover; /* La imagen se adapta al tamaño de la pantalla */
  background-repeat: no-repeat; /* La imagen no se repite */
}
.Titulo {
  text-align: center;
  font-weight: 300;
  font-size: 60px;
  display: inline;
  font-weight: bolder;
  color: #fff;
  display: block;
  white-space: nowrap;
}
.Subtitulo {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  display: block;
  color: #fff;
}
@media (max-width: 1060px) {
  .Principal {
    height: 30vh;
  }
  .Titulo {
    font-size: clamp(20px, 5vw, 40px);
  }
  .Subtitulo {
    font-size: clamp(10px, 5vw, 15px);
  }
}

@media (max-width: 400px) {
  .Titulo {
    font-size: clamp(10px, 5vw, 15px);
  }
  .Subtitulo {
    font-size: clamp(10px, 5vw, 12px);
  }
}

/*.Principal {
  text-align: center;
  justify-content: center;
  height: 50vh;
  background-color: #01497c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Titulo {
  text-align: center;
  font-weight: 300;
  padding: 20px;
  font-size: 50px;
  display: inline;
  font-weight: bolder;
  color: #a9d6e5;
  display: block;
  white-space: nowrap;
  width: 30ch;
  overflow: hidden;
}

.Subtitulo {
  padding: 20px;
  font-size: 20px;
  display: block;
  color: #a9d6e5;
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}

@media (max-width: 768px) {
  .Titulo {
    font-size: 20px;
    width: 100%;
    white-space: normal;
  }
}

@media (max-width: 576px) {
  .Titulo {
    font-size: 15px;
  }
  @keyframes escribiendo {
    from {
      width: 0;
    }
  }

  .Subtitulo {
    font-size: 16px;
  }
}
*/
