.container {
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.Principal {
  text-align: center;
  justify-content: center;
  height: 50vh;
  background-image: url("../../assets/portada05.jpg");
  background-color: #01497c;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.p {
  margin-top: 50px;
}

.Btn {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 10px 40px 10px 40px;
  color: #2c7da0;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 30px;
  font-weight: 500;
  cursor: pointer;
}
.Titulo {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  display: inline;
  font-weight: bolder;
  color: #fff;
  display: block;
  white-space: nowrap;
}
.Btn:hover {
  background-color: #2c7da0;
  color: #fff;
  border: 1px solid #2c7da0;
}
.Subtitulo {
  padding: 20px;
  font-size: 15px;
  font-weight: 500;
  display: block;
  color: #fff;
}

.footer {
  padding: 80px;
}
@media (max-width: 1000px) {
  .Principal {
    margin: 0;
    padding: 0;
    background-size: cover;
    overflow: hidden;
    height: 50vh;
    width: 600px;
  }
  .Principal {
    width: auto;
  }
  .Titulo {
    font-size: clamp(10px, 5vw, 23px);
  }
  .Subtitulo {
    font-size: clamp(10px, 5vw, 15px);
  }
}
@media (max-width: 540px) {
  .Principal {
    height: 30vh;
  }
  .Titulo {
    font-size: clamp(10px, 5vw, 15px);
  }
  .Subtitulo {
    font-size: clamp(3px, 5vw, 10px);
  }
  .Btn {
    margin-top: 10px;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
  }
}

@media (max-width: 380px) {
  .Principal {
    height: 30vh;
  }
  .Titulo {
    font-size: clamp(10px, 5vw, 12px);
  }
  .Subtitulo {
    font-size: clamp(3px, 5vw, 8px);
  }
}
/*





*/
/*.Principal {
  text-align: center;
  justify-content: center;
  height: 50vh;
  background-color: #01497c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Titulo {
  text-align: center;
  font-weight: 300;
  padding: 20px;
  font-size: 50px;
  display: inline;
  font-weight: bolder;
  color: #a9d6e5;
  display: block;
  white-space: nowrap;
  width: 30ch;
  overflow: hidden;
}

.Subtitulo {
  padding: 20px;
  font-size: 20px;
  display: block;
  color: #a9d6e5;
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}

@media (max-width: 768px) {
  .Titulo {
    font-size: 20px;
    width: 100%;
    white-space: normal;
  }
}

@media (max-width: 576px) {
  .Titulo {
    font-size: 15px;
  }
  @keyframes escribiendo {
    from {
      width: 0;
    }
  }

  .Subtitulo {
    font-size: 16px;
  }
}
*/
